<h1>Samarth Mayya</h1>
<p>I am a second year student of NITK in CSE department.My hobbies are:</p>
<ol>
    <li>Singing songs</li>
    <li>Listening to songs</li>
    <li>Learning new things</li>
    <li>Not doing anything at all</li>
</ol>
